/*

        Name    : Pranit Singh
        Class   : CIST 1300-850
        Assign# : 9
        Due     : October 22, 2016

        First of many CSS!
*/


/* This modifies the font of the body elements */
body {  
    font:   115% "Times New Roman, serif";
    width:  95%;
    max-width:  1200px;
    margin: 15px;
}

/* This modifies the location and font size of the header element */
header {
    text-align:     center;
    font-variant:   small-caps;
    background-color:   blue;
}

/* This modifies the location of the nav element */
nav {
    text-align:     center;
    margin-bottom:  15px;    
}

/* This modifies the font size of the nav ul element */
nav ul {
    font-variant:   small-caps;
    margin: 0px;
    list-style-type:    none;
}

/* This makes the font bold of the nav ul li element */
nav ul li {
    font-weight:    bold;
    display : inline;
    margin-top: 0px;
    margin-bottom:  0px;
    margin-left:    10px;
    margin-right:   10px;
}

/* This results in no decoration so the it makes the text of the nav ul li a element to be a normal or the default text */ 
nav ul li a {
text-decoration:    none;
}

/* This modifies how the nav ul li a:hover element is displayed */
nav ul li a:hover {
    text-decoration:    none;
    font-weight:    bold;
    background-color:   red;
    color:  yellow;
}

/* This modifies the background color of the section.information */
section.information {
    padding-top:    0px;
    padding-bottom: 0px;
    padding-left:   10px;
    padding-right:  10px;
}

/* This modifies how the font is displayed of the section.information */
section.information h1 {
    font:   italic;
    color:  rgb(0,0,255);
    margin-top: 0px;
    margin-bottom:  10px;  
}

/* This modifies how the section.information aside element is displayed */
section.information aside {
    background-color:   silver;
}

/* This modifies the background color of the section.information th element */
section.information th {
    background-color:   lime;
}

/* This modifies the background color of the section.information td element */
section.information td {
    background-color:   yellow;
}

/* This modifies the font and color of the footer */ 
footer {
    text-align: center;
    color:  red;
    font-size:  85%;
    padding-top: 25px;
    clear:  both;
}

/* This modifies background color of the section.information td:hover element */
section.information td:hover {
    background-color:   red;
}

/* This modifies the first sections of the three pages. */
section#biography, section#sayings, section#timetable {
    width:  60%;
    float:  left;
    padding-bottom: 15px;
}

/* This modifies the second sections of the three pages. */
section#school, section#commands, section#favoritesites {
    width:  28%;
    margin-left:    62%;
}

/* This modifies the third sections of Index and Page 2 pages. */
section#hobbies, section#videos {
    border-top: 2px solid red;
    border-bottom:  2px solid red;
    clear:  both;
    background-color:   #ececec;
}

/* This specifically modifies the vidoes on Page 3. */
section#videos {
    text-align: center
}

/* This modifies the image elements of the three pages. */
img {
    width:  40%;
    float:  left;
    margin-right:   10px;
}
